ai-movie-analyzer/n8n-workflow/Movie Analyzer AI.json
{
  "name": "Movie Analyzer AI",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -704,
        256
      ],
      "id": "817faa9b-f5e3-4962-9f9b-896a92e204f5",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json.results || [];\n  return data.map(entry => ({\n    json: {\n      id: entry.id,\n      title: entry.title || entry.name,\n      release_date: entry.release_date || entry.first_air_date,\n      overview: entry.overview,\n      rating: entry.vote_average,\n      popularity: entry.popularity,\n      genre_ids: entry.genre_ids,\n      poster_url: entry.poster_path \n        ? `https://image.tmdb.org/t/p/w500${entry.poster_path}`\n        : '',\n      type: entry.title ? 'Movie' : 'Series'\n    }\n  }));\n}).flat();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        208
      ],
      "id": "fab739f1-49b2-4ddb-a260-7f5f408891e9",
      "name": "Clean and Format Data",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Movies_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Title": "={{ $json.title }}",
            "Release Date": "={{ $json.release_date }}",
            "Rating ": "={{ $json.rating }}",
            "Type ": "={{ $json.type }}",
            "Overview": "={{ $json.overview }}",
            "Poster URL": "={{ $json.poster_url }}",
            "Popularity": "={{ $json.popularity }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        480
      ],
      "id": "1d4640b9-86d9-486a-89ec-cbc54aa0e178",
      "name": "Save to Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        -992
      ],
      "id": "fa17495d-2d2c-476f-8f78-99b132a54dc6",
      "name": "Phase 2 - Initiator",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Movies_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Reviwed?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        -992
      ],
      "id": "9e83ae77-b1c7-4777-81cf-824b5aea0a04",
      "name": "Read Movie Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        -992
      ],
      "id": "1c0b6d7e-4809-4e0c-b51a-45068eba1a41",
      "name": "Splot in Batches",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1ec5eb-f62d-4508-a5ba-4c41c3e2f078",
              "name": "id",
              "value": "={{ $('Read Movie Data').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6e418712-7c3c-4514-9860-cea729edb59f",
              "name": "review",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -976
      ],
      "id": "35138b00-87e7-4bf4-98e9-f7783cac1b47",
      "name": "Format Review Output",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Movies_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reviwed?": "Yes",
            "Review": "={{ $json.review }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -976
      ],
      "id": "d43af92f-5b7d-4116-a164-efe1a289e5ee",
      "name": "Update Movie Review",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        48,
        -1104
      ],
      "id": "93c5b736-ece7-4aac-b7e4-0b833e37ff5c",
      "name": "No Operation",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -400,
        -992
      ],
      "id": "5ad4a1ee-549b-4fe9-9667-9cbcc743d53e",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/movie/popular",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "en-US"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTcyYzIzYjU2MmJjY2YzYzNhYzI0OTRmZDJmODU1NCIsIm5iZiI6MTc2MjI2NjQxOS42NTIsInN1YiI6IjY5MGEwZDMzYWNiMmJjMzBmMDcwY2M0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.I5TEpU04udXCe4MP2dJK6fxM6S-nvUmKhYyeOeMK-ZM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -480
      ],
      "id": "a02c38a2-3ea3-445f-86c7-b9a30f7777d4",
      "name": "Fetch Popular Movies"
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/movie/upcoming",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "en-US"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "region",
              "value": "us"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTcyYzIzYjU2MmJjY2YzYzNhYzI0OTRmZDJmODU1NCIsIm5iZiI6MTc2MjI2NjQxOS42NTIsInN1YiI6IjY5MGEwZDMzYWNiMmJjMzBmMDcwY2M0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.I5TEpU04udXCe4MP2dJK6fxM6S-nvUmKhYyeOeMK-ZM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -272
      ],
      "id": "61d8f8f8-d323-456a-abf3-26997ab20c07",
      "name": "Fetch Upcoming Movies"
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/tv/popular",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "en-US"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTcyYzIzYjU2MmJjY2YzYzNhYzI0OTRmZDJmODU1NCIsIm5iZiI6MTc2MjI2NjQxOS42NTIsInN1YiI6IjY5MGEwZDMzYWNiMmJjMzBmMDcwY2M0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.I5TEpU04udXCe4MP2dJK6fxM6S-nvUmKhYyeOeMK-ZM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -64
      ],
      "id": "15f50d09-b80c-486e-b15b-20d61788b542",
      "name": "Fetch Popular TV Series"
    },
    {
      "parameters": {
        "content": "# Phase 1: Getting and Storing Movies data\n\n",
        "height": 1424,
        "width": 1744,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        -688
      ],
      "typeVersion": 1,
      "id": "826cd9f7-144b-4d22-83bd-ab5515a03c07",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Phase 2 for a single sheet",
        "height": 432,
        "width": 1584,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -1152
      ],
      "typeVersion": 1,
      "id": "17eca644-3d16-49ee-a201-576a013c1896",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional movie reviewer who writes short, engaging, spoiler-free reviews.",
              "role": "system"
            },
            {
              "content": "=Write a 2–3 sentence review for the following:\n\\nTitle: {{ $json.Title }}\\nOverview: {{$json.Overview}}\\nRelease Date: {{$json['Release Date']}}\\nRating: {{ $json['Rating '] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        48,
        -976
      ],
      "id": "85f373d2-752a-4573-af8c-b80a8d3a4c1d",
      "name": "Review Generation",
      "credentials": {
        "openAiApi": {
          "id": "WTuFB8P3DNjwNZR1",
          "name": "OpenAi - Alishba"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Movies_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u12ZADocYdH5f7mks0G4wMrHsSD8uUSrNA5KJuEISOs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        336
      ],
      "id": "a521baa1-3b8a-453b-869b-1736cff92233",
      "name": "Read Existing Database",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Get new movies and existing movies\nconst newMovies = $('Clean and Format Data').all();\nconst existingMovies = $('Read Existing Database').all();\n\n// Create a Set of existing movie IDs for O(1) lookup\nconst existingIds = new Set(\n  existingMovies\n    .filter(item => item.json.id) // Filter out items without IDs\n    .map(item => String(item.json.id).trim())\n);\n\n// Process each new movie\nconst result = newMovies\n  .filter(movie => movie.json.id) // Only process movies with IDs\n  .map(movie => {\n    const movieId = String(movie.json.id).trim();\n    \n    return {\n      json: {\n        ...movie.json,\n        operation: existingIds.has(movieId) ? 'update' : 'insert'\n      }\n    };\n  });\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        272
      ],
      "id": "547a4f13-7672-4971-a9ae-1a67e5211bd0",
      "name": "Check for Duplicates",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        272
      ],
      "id": "7e533a11-a25f-4f23-b614-6b646dee40e4",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "aaca564f-7818-4149-ad3f-9e4ee14d37bc",
              "leftValue": "={{ $json.id !== undefined && $json.id !== null }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        272
      ],
      "id": "258b9bd8-5bbc-43aa-b701-1cece3c55e14",
      "name": "if database has data",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a37ed74-f621-4c2e-a891-1a78f715aea3",
              "leftValue": "={{ $json.operation }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        256
      ],
      "id": "55759352-380a-46dc-b2a1-c5be34796a93",
      "name": "If Duplicates?",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor (let i = 1; i <= 65; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        448
      ],
      "id": "18435409-7cd3-47ff-bfaa-84edc9a37309",
      "name": "pagesForUpcomingMovies"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -496
      ],
      "id": "a66cfc75-846d-4851-87d7-32e499c90c34",
      "name": "Loop for Popular Movies"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -288
      ],
      "id": "e2438382-d585-4232-a1dd-b78a57b0bed9",
      "name": "Loop for Upcoming Movies"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -80
      ],
      "id": "2e22d410-03f6-46e9-bd24-d6a04c629884",
      "name": "Loop for Popular TV Shows"
    },
    {
      "parameters": {
        "content": "# Data Loading from TMDb using API",
        "height": 720,
        "width": 992,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -592
      ],
      "typeVersion": 1,
      "id": "aa30e4ff-572c-4089-b56e-4b78fd24ad1d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor (let i = 1; i <= 100; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        656
      ],
      "id": "e4a895b3-d53a-4958-8c6f-d15b5901496a",
      "name": "pagesForPopularTVShow (1-100)"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor (let i = 1; i <= 100; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        240
      ],
      "id": "4ef66277-8731-4643-859b-33550cfa4e10",
      "name": "pagesForPopularMovies (1-100)"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor (let i = 101; i <= 200; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        -128
      ],
      "id": "040de5fd-bd1a-4ac8-a478-281d3ca17f0a",
      "name": "pagesForPopularMovies (101-200)"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor (let i = 101; i <= 200; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        32
      ],
      "id": "584f4877-75b5-437e-acbb-e572c40fc55b",
      "name": "pagesForPopularTVShow (101-200)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2304,
        448
      ],
      "id": "f98a8846-49a1-4c2a-8245-8426e97cb571",
      "name": "Phase 1 - Initiator 1.0"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2336,
        -64
      ],
      "id": "f0e45739-881f-49e5-b2de-66e0768750da",
      "name": "Phase 1 - Initiator 2.0"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor (let i = 201; i <= 300; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        -320
      ],
      "id": "3d6e13da-b8e1-45f1-9dcf-ee8e72fdff49",
      "name": "pagesForPopularTVShow (201-300)"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor  (let i = 201; i <= 300; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        -480
      ],
      "id": "98987c33-da82-4716-9102-9d776acdbab5",
      "name": "pagesForPopularMovies (201-300)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2336,
        -400
      ],
      "id": "b6dc799c-66c3-4a2b-929f-dda1a4e6891e",
      "name": "Phase 1 - Initiator 3.0"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor  (let i = 301; i <= 400; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        -848
      ],
      "id": "6155ba10-1b2b-46e6-aa0f-7f406baadd67",
      "name": "pagesForPopularMovies (301-400)"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor (let i = 301; i <= 400; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        -688
      ],
      "id": "1bba7225-520d-4ac9-8485-3c1f46720e47",
      "name": "pagesForPopularTVShow (301-400)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2352,
        -768
      ],
      "id": "5f7f7de9-ccbc-41fb-bfbe-867d645fd20e",
      "name": "Phase 1 - Initiator 4.0"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2352,
        -1120
      ],
      "id": "b1519d9f-722d-4a44-8bcf-1e4c2c3e6734",
      "name": "Phase 1 - Initiator 5.0"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor  (let i = 401; i <= 500; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        -1200
      ],
      "id": "1d7ac505-fbc6-4fa0-9771-8c96e1aa1799",
      "name": "pagesForPopularMovies (401-500)"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst result = [];\n\nfor (let i = 401; i <= 500; i++) {\n  result.push({ page: i });\n}\n\nreturn result.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        -1040
      ],
      "id": "8b5de0f2-9c3e-4f90-8918-2335415e8976",
      "name": "pagesForPopularTVShow (401-500)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        544,
        240
      ],
      "id": "03d1868a-b08e-4a63-9c7f-70ad672d3811",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json.results || [];\n  return data.map(entry => ({\n    json: {\n      id: entry.id,\n      title: entry.title || entry.name,\n      release_date: entry.release_date || entry.first_air_date,\n      overview: entry.overview,\n      rating: entry.vote_average,\n      popularity: entry.popularity,\n      genre_ids: entry.genre_ids,\n      poster_url: entry.poster_path \n        ? `https://image.tmdb.org/t/p/w500${entry.poster_path}`\n        : '',\n      type: entry.title ? 'Movie' : 'Series'\n    }\n  }));\n}).flat();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -512
      ],
      "id": "ddcd1bca-d5fe-4ea3-95b4-5034fa82432e",
      "name": "Clean and Format Movie Data"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json.results || [];\n  return data.map(entry => ({\n    json: {\n      id: entry.id,\n      title: entry.title || entry.name,\n      release_date: entry.release_date || entry.first_air_date,\n      overview: entry.overview,\n      rating: entry.vote_average,\n      popularity: entry.popularity,\n      genre_ids: entry.genre_ids,\n      poster_url: entry.poster_path \n        ? `https://image.tmdb.org/t/p/w500${entry.poster_path}`\n        : '',\n      type: entry.title ? 'UpcomingMovie' : 'Series'\n    }\n  }));\n}).flat();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -304
      ],
      "id": "ef2483e7-84c0-4684-bf50-dc2e15b64490",
      "name": "Clean and Format Movie Data1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json.results || [];\n  return data.map(entry => ({\n    json: {\n      id: entry.id,\n      title: entry.title || entry.name,\n      release_date: entry.release_date || entry.first_air_date,\n      overview: entry.overview,\n      rating: entry.vote_average,\n      popularity: entry.popularity,\n      genre_ids: entry.genre_ids,\n      poster_url: entry.poster_path \n        ? `https://image.tmdb.org/t/p/w500${entry.poster_path}`\n        : '',\n      type: entry.title ? 'Movie' : 'Series'\n    }\n  }));\n}).flat();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -96
      ],
      "id": "79032595-643d-42eb-9025-b188341ae7ec",
      "name": "Clean and Format TV Data"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779211863,
          "mode": "list",
          "cachedResultName": "Popular TV Series",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1779211863"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -16
      ],
      "id": "9aa4ddc9-b502-4230-9ed3-b823bb74551c",
      "name": "Read Existing TV Series",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660865768,
          "mode": "list",
          "cachedResultName": "Upcoming Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1660865768"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -224
      ],
      "id": "b7abdda2-08e8-49f6-992c-58167ce22bd8",
      "name": "Read Existing Movies1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Popular Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -432
      ],
      "id": "4ccf93c9-5c85-47cf-a04a-04ed5405eb7a",
      "name": "Read Existing Movies",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        -80
      ],
      "id": "b70d76fd-8782-4c8a-a845-f65b512d644a",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        -288
      ],
      "id": "ce395721-e073-4ec5-8f63-0a00e39ee7f4",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        -496
      ],
      "id": "0e1157d6-9569-4e9c-b46a-06422cbf7a42",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "// Get new and existing TV series data\nconst newMovies = $('Clean and Format TV Data').all() || [];\nconst existingMovies = $('Read Existing TV Series').all() || [];\n\n// If no existing data, treat all as inserts\nif (!existingMovies.length) {\n  return newMovies.map(movie => ({\n    json: {\n      ...movie.json,\n      operation: 'insert'\n    }\n  }));\n}\n\n// Safely extract IDs from existing records, handling inconsistent key names\nconst existingIds = new Set(\n  existingMovies\n    .map(item => {\n      if (!item || !item.json) return null;\n      const id =\n        item.json.id ??\n        item.json[\"id \"] ??\n        item.json[\"ID\"] ??\n        item.json[\"Id\"];\n      return id ? String(id).trim() : null;\n    })\n    .filter(Boolean)\n);\n\n// Process each new TV show\nconst result = newMovies\n  .filter(movie => movie.json?.id)\n  .map(movie => {\n    const movieId = String(movie.json.id).trim();\n    return {\n      json: {\n        ...movie.json,\n        operation: existingIds.has(movieId) ? 'update' : 'insert'\n      }\n    };\n  });\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -80
      ],
      "id": "2881cc0a-445c-40db-9c4d-b0c5821ede09",
      "name": "Check for Duplicates1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a37ed74-f621-4c2e-a891-1a78f715aea3",
              "leftValue": "={{ $json.operation }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        -96
      ],
      "id": "4b28f7e8-1dbb-4107-be4d-f956d2cab6b9",
      "name": "If Duplicates?1"
    },
    {
      "parameters": {
        "jsCode": "// Get new and existing movies\nconst newMovies = $('Clean and Format Movie Data1').all();\nconst existingMovies = $('Read Existing Movies1').all() || [];\n\n// If existingMovies is null or empty, treat all newMovies as inserts\nif (!existingMovies.length) {\n  return newMovies.map(movie => ({\n    json: {\n      ...movie.json,\n      operation: 'insert'\n    }\n  }));\n}\n\n// Extract valid IDs from existing movies (handle inconsistent key names)\nconst existingIds = new Set(\n  existingMovies\n    .map(item => {\n      if (!item || !item.json) return null;\n      const id =\n        item.json.id ??\n        item.json[\"id \"] ??\n        item.json[\"ID\"] ??\n        item.json[\"Id\"];\n      return id ? String(id).trim() : null;\n    })\n    .filter(Boolean)\n);\n\n// Process new movies\nconst result = newMovies\n  .filter(movie => movie.json?.id)\n  .map(movie => {\n    const movieId = String(movie.json.id).trim();\n    return {\n      json: {\n        ...movie.json,\n        operation: existingIds.has(movieId) ? 'update' : 'insert'\n      }\n    };\n  });\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -288
      ],
      "id": "05ba5257-0fdb-459c-b80d-d9dff5744b88",
      "name": "Check for Duplicates2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a37ed74-f621-4c2e-a891-1a78f715aea3",
              "leftValue": "={{ $json.operation }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        -304
      ],
      "id": "3f1fd828-5a48-4058-ba3c-58a4d5dc217e",
      "name": "If Duplicates?2"
    },
    {
      "parameters": {
        "jsCode": "// Get new and existing movies\nconst newMovies = $('Clean and Format Movie Data').all() || [];\nconst existingMovies = $('Read Existing Movies').all() || [];\n\n// If no existing data, mark everything as insert\nif (!existingMovies.length) {\n  return newMovies.map(movie => ({\n    json: {\n      ...movie.json,\n      operation: 'insert'\n    }\n  }));\n}\n\n// Safely extract IDs from existing records, handling inconsistent key names\nconst existingIds = new Set(\n  existingMovies\n    .map(item => {\n      if (!item || !item.json) return null;\n      const id =\n        item.json.id ??\n        item.json[\"id \"] ??\n        item.json[\"ID\"] ??\n        item.json[\"Id\"];\n      return id ? String(id).trim() : null;\n    })\n    .filter(Boolean)\n);\n\n// Process new movies\nconst result = newMovies\n  .filter(movie => movie.json?.id)\n  .map(movie => {\n    const movieId = String(movie.json.id).trim();\n    return {\n      json: {\n        ...movie.json,\n        operation: existingIds.has(movieId) ? 'update' : 'insert'\n      }\n    };\n  });\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -496
      ],
      "id": "6f4df53e-52c4-4b13-ad44-172a45a0bec3",
      "name": "Check for Duplicates3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a37ed74-f621-4c2e-a891-1a78f715aea3",
              "leftValue": "={{ $json.operation }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        -512
      ],
      "id": "dfe903e3-e2a1-4b19-b7ff-94f569cf342c",
      "name": "If Duplicates?3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1888,
        -672
      ],
      "id": "711044b7-8fe2-4acc-aaf9-7b8428d53e63",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "content": "# Checking Formatiing and Storing Movie Data",
        "height": 848,
        "width": 1504,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -704
      ],
      "typeVersion": 1,
      "id": "b70735b5-39b3-4c97-94bc-5e48ba4fb4f8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5e23194-bd5c-4b19-a7ef-958196ae9f4e",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Movie",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        -496
      ],
      "id": "c750e7b2-123b-4034-b5d2-7697f9409dbe",
      "name": "IF (Type)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5e23194-bd5c-4b19-a7ef-958196ae9f4e",
              "leftValue": "={{ $json.type }}",
              "rightValue": "UpcomingMovie",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        -288
      ],
      "id": "868cfc4e-74e5-4b93-8e06-40fb16ff99f9",
      "name": "IF (Type)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5e23194-bd5c-4b19-a7ef-958196ae9f4e",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Series",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        -80
      ],
      "id": "28b24afc-e359-4fe2-8bae-66810ebcb8d1",
      "name": "IF (Type)2"
    },
    {
      "parameters": {
        "content": "# For Single Sheet of Data",
        "height": 496,
        "width": 1648,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        176
      ],
      "typeVersion": 1,
      "id": "25c5900c-7c2a-44ae-8f25-705de191455a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660865768,
          "mode": "list",
          "cachedResultName": "Upcoming Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1660865768"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Title": "={{ $json.title }}",
            "Release Date": "={{ $json.release_date }}",
            "Overview": "={{ $json.overview }}",
            "Type ": "={{ $json.type }}",
            "Rating ": "={{ $json.rating }}",
            "Popularity": "={{ $json.popularity }}",
            "Poster URL": "={{ $json.poster_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Providers",
              "displayName": "Providers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -288
      ],
      "id": "17ab9e8f-277c-4f25-a854-b9d86c154c75",
      "name": "Save to Database4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779211863,
          "mode": "list",
          "cachedResultName": "Popular TV Series",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1779211863"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('If Duplicates?1').item.json.id }}",
            "Title": "={{ $('If Duplicates?1').item.json.title }}",
            "Release Date": "={{ $('If Duplicates?1').item.json.release_date }}",
            "Overview": "={{ $('If Duplicates?1').item.json.overview }} ",
            "Type ": "={{ $('If Duplicates?1').item.json.type }}",
            "Rating ": "={{ $('If Duplicates?1').item.json.rating }}",
            "Popularity": "={{ $('If Duplicates?1').item.json.popularity }}",
            "Poster URL": "={{ $('If Duplicates?1').item.json.poster_url }}",
            "Provider": "=",
            "Reviwed?": "=",
            "Article": "=",
            "Customer Review": "="
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -80
      ],
      "id": "97a9df77-b7c4-4f3c-958c-f5c21a6999ba",
      "name": "Save to Database5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "content": "# Initiator Setup\n- ## Triggers \n- ## Query Page limit handling",
        "height": 2240,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2432,
        -1376
      ],
      "typeVersion": 1,
      "id": "3c297ae5-6777-4202-a10f-d963f92f9d53",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Popular Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Reviwed?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        944
      ],
      "id": "63fecb20-87fe-45b2-bbc3-e65be50f19d8",
      "name": "Read Movie Data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        944
      ],
      "id": "7a43b82c-2844-4134-bbac-048e74d9c033",
      "name": "Splot in Batches1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1ec5eb-f62d-4508-a5ba-4c41c3e2f078",
              "name": "id",
              "value": "={{ $('Read Movie Data1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6e418712-7c3c-4514-9860-cea729edb59f",
              "name": "review",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        960
      ],
      "id": "62a2ba2f-23bc-42c6-b11c-e108dafcf792",
      "name": "Format Review Output1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Popular Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reviwed?": "Yes",
            "id": "={{ $json.id }}",
            "Customer Review": "={{ $json.review}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Providers",
              "displayName": "Providers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        960
      ],
      "id": "49da1cdd-b24f-49f0-a7ce-91af50a32edf",
      "name": "Update Movie Review1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        832
      ],
      "id": "9618196f-0e34-43b2-93d7-db49686bf075",
      "name": "No Operation1"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -576,
        944
      ],
      "id": "bfe5bd15-2445-4653-b764-d5d01ece4139",
      "name": "Limit1"
    },
    {
      "parameters": {
        "content": "# Phase 2: Customer Review Generator",
        "height": 1104,
        "width": 1744,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        784
      ],
      "typeVersion": 1,
      "id": "453c70c0-c14f-451d-ad98-8a579080224f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional entertainment critic who writes short, authentic, and spoiler-free reviews about movies and TV series. \nYour reviews sound like genuine audience opinions rather than promotional summaries. \nThey may express enthusiasm, disappointment, or balanced opinions — but always feel natural and conversational. \nEach review should be 2–3 sentences long, with a distinct tone depending on the type of title and its rating. \nAvoid repeating the overview or plot. Focus on personal impressions, acting, direction, pacing, or emotion.\n\nWrite a 2–3 sentence review for the following:\n\nTitle: {{ $('Splot in Batches1').item.json.Title }}\nOverview: {{ $('Splot in Batches1').item.json.Overview }}\nType: {{ $('Splot in Batches1').item.json['Type '] }}  // e.g., Movie or Series\nRelease Date: {{ $('Splot in Batches1').item.json['Release Date'] }}\nRating: {{ $('Splot in Batches1').item.json['Rating '] }}\nCategory: {{ $json.Category }}  // e.g., Popular, Upcoming\nPoster URL: {{ $('Splot in Batches1').item.json['Poster URL'] }}\n",
              "role": "system"
            },
            {
              "content": "=Generate a short customer-style review based on the given details. \nMake it feel personal and natural, like something a real viewer would post online after watching (or anticipating) the title."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        80,
        960
      ],
      "id": "769c90ce-9aac-4fa4-a020-277a03d10859",
      "name": "Review Generation1",
      "credentials": {
        "openAiApi": {
          "id": "WTuFB8P3DNjwNZR1",
          "name": "OpenAi - Alishba"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660865768,
          "mode": "list",
          "cachedResultName": "Upcoming Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1660865768"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Reviwed?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        1280
      ],
      "id": "1ee999fc-ef1e-4abe-93f3-701dcfde6ba2",
      "name": "Read Movie Data2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        1280
      ],
      "id": "57999039-59b5-442c-b707-870a9feeb95f",
      "name": "Splot in Batches2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1ec5eb-f62d-4508-a5ba-4c41c3e2f078",
              "name": "id",
              "value": "={{ $('Read Movie Data2').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6e418712-7c3c-4514-9860-cea729edb59f",
              "name": "review",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1296
      ],
      "id": "465f6f7e-caad-4831-8674-afaa04020e44",
      "name": "Format Review Output2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660865768,
          "mode": "list",
          "cachedResultName": "Upcoming Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1660865768"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reviwed?": "Yes",
            "id": "={{ $json.id }}",
            "Customer Review": "={{ $json.review}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Providers",
              "displayName": "Providers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        1296
      ],
      "id": "d3959c2c-e733-4932-ba86-148accbd2c71",
      "name": "Update Movie Review2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        96,
        1168
      ],
      "id": "5fd45ab0-a07b-4065-8118-34debf08f5fd",
      "name": "No Operation2"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -560,
        1280
      ],
      "id": "7ae2ce9f-c2dc-4f1f-b366-557de1122083",
      "name": "Limit2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional entertainment critic who writes short, authentic, and spoiler-free reviews about movies and TV series. \nYour reviews sound like genuine audience opinions rather than promotional summaries. \nThey may express enthusiasm, disappointment, or balanced opinions — but always feel natural and conversational. \nEach review should be 2–3 sentences long, with a distinct tone depending on the type of title and its rating. \nAvoid repeating the overview or plot. Focus on personal impressions, acting, direction, pacing, or emotion.\n\nWrite a 2–3 sentence review for the following:\n\nTitle: {{ $('Splot in Batches2').item.json.Title }}\nOverview: {{ $('Splot in Batches2').item.json.Overview }}\nType: {{ $('Splot in Batches2').item.json['Type '] }}  // e.g., Movie or Series\nRelease Date: {{ $('Splot in Batches2').item.json['Release Date'] }}\nRating: {{ $('Splot in Batches2').item.json['Rating '] }}\nCategory: {{ $json.Category }}  // e.g., Popular, Upcoming\nPoster URL: {{ $('Splot in Batches2').item.json['Poster URL'] }}\n",
              "role": "system"
            },
            {
              "content": "=Generate a short customer-style review based on the given details. \nMake it feel personal and natural, like something a real viewer would post online after watching (or anticipating) the title."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        96,
        1296
      ],
      "id": "4bc4cd45-7464-4ede-95eb-b754eb3ca711",
      "name": "Review Generation2",
      "credentials": {
        "openAiApi": {
          "id": "WTuFB8P3DNjwNZR1",
          "name": "OpenAi - Alishba"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779211863,
          "mode": "list",
          "cachedResultName": "Popular TV Series",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1779211863"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Reviwed?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        1616
      ],
      "id": "8d1e32ea-42f3-40ce-bbc7-0d61cbe34aa9",
      "name": "Read Movie Data3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        1616
      ],
      "id": "fc905f79-fe87-4019-be0a-32fb4d9c6fba",
      "name": "Splot in Batches3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1ec5eb-f62d-4508-a5ba-4c41c3e2f078",
              "name": "id",
              "value": "={{ $('Read Movie Data3').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6e418712-7c3c-4514-9860-cea729edb59f",
              "name": "review",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        1632
      ],
      "id": "270e438e-64ef-44b9-93ca-778dcc5709a1",
      "name": "Format Review Output3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779211863,
          "mode": "list",
          "cachedResultName": "Popular TV Series",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1779211863"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reviwed?": "Yes",
            "id": "={{ $json.id }}",
            "Customer Review": "={{ $json.review}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        1632
      ],
      "id": "8627cab9-30ff-461a-aad4-6840b0670e65",
      "name": "Update Movie Review3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        1504
      ],
      "id": "04c704e7-75f9-4443-a8ba-ef865aaf6776",
      "name": "No Operation3"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -576,
        1616
      ],
      "id": "050fac27-3149-4775-a12f-1adf595ec49c",
      "name": "Limit3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional entertainment critic who writes short, authentic, and spoiler-free reviews about movies and TV series. \nYour reviews sound like genuine audience opinions rather than promotional summaries. \nThey may express enthusiasm, disappointment, or balanced opinions — but always feel natural and conversational. \nEach review should be 2–3 sentences long, with a distinct tone depending on the type of title and its rating. \nAvoid repeating the overview or plot. Focus on personal impressions, acting, direction, pacing, or emotion.\n\nWrite a 2–3 sentence review for the following:\n\nTitle: {{ $('Splot in Batches3').item.json.Title }}\nOverview: {{ $('Splot in Batches3').item.json.Overview }}\nType: {{ $('Splot in Batches3').item.json['Type '] }}  // e.g., Movie or Series\nRelease Date: {{ $('Splot in Batches3').item.json['Release Date'] }}\nRating: {{ $('Splot in Batches3').item.json['Rating '] }}\nCategory: {{ $json.Category }}  // e.g., Popular, Upcoming\nPoster URL: {{ $('Splot in Batches3').item.json['Poster URL'] }}\n",
              "role": "system"
            },
            {
              "content": "=Generate a short customer-style review based on the given details. \nMake it feel personal and natural, like something a real viewer would post online after watching (or anticipating) the title."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        80,
        1632
      ],
      "id": "21de2b24-514d-4bf1-944e-5a1a7120b854",
      "name": "Review Generation3",
      "credentials": {
        "openAiApi": {
          "id": "WTuFB8P3DNjwNZR1",
          "name": "OpenAi - Alishba"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        320
      ],
      "id": "0920626a-c5df-4325-b619-330ac6e13c3f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Popular Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('If Duplicates?3').item.json.id }}",
            "Title": "={{ $('If Duplicates?3').item.json.title }}",
            "Release Date": "={{ $('If Duplicates?3').item.json.release_date }}",
            "Overview": "={{ $('If Duplicates?3').item.json.overview }}",
            "Type ": "={{ $('If Duplicates?3').item.json.type }}",
            "Rating ": "={{ $('If Duplicates?3').item.json.rating }}",
            "Popularity": "={{ $('If Duplicates?3').item.json.popularity }}",
            "Poster URL": "={{ $('If Duplicates?3').item.json.poster_url }}",
            "Providers": "="
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Providers",
              "displayName": "Providers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -496
      ],
      "id": "c11179ca-6052-427a-bbc0-e80453d2e6b2",
      "name": "Save to Database3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.themoviedb.org/3/movie/{{ $json.id }}/watch/providers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTcyYzIzYjU2MmJjY2YzYzNhYzI0OTRmZDJmODU1NCIsIm5iZiI6MTc2MjI2NjQxOS42NTIsInN1YiI6IjY5MGEwZDMzYWNiMmJjMzBmMDcwY2M0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.I5TEpU04udXCe4MP2dJK6fxM6S-nvUmKhYyeOeMK-ZM"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        336
      ],
      "id": "435cf6ee-849f-4c50-bdd1-05f8d42b5e3f",
      "name": "Fetch Movie Provider",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get input from previous node (usually an HTTP Request)\nconst input = items[0].json;\n\n// Ensure we always have an array to loop through\nconst data = Array.isArray(input) ? input : [input];\n\nconst providerSet = new Set();\n\n// Loop through each movie entry\nfor (const movie of data) {\n  const results = movie.results || {};\n\n  for (const region in results) {\n    const regionData = results[region];\n\n    // Check all possible provider types\n    const providerTypes = [\"ads\", \"flatrate\", \"rent\", \"buy\"];\n    for (const type of providerTypes) {\n      if (Array.isArray(regionData[type])) {\n        regionData[type].forEach(provider => {\n          if (provider.provider_name) {\n            providerSet.add(provider.provider_name.trim());\n          }\n        });\n      }\n    }\n  }\n}\n\n// Join all provider names with commas\nconst providerList = Array.from(providerSet).join(\", \");\n\n// Return as a single n8n item\nreturn [\n  {\n    json: {\n      provider_name: providerList\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        320
      ],
      "id": "abb5fe36-4698-4634-8b73-095b58dae6fd",
      "name": "Extract Provider's Only"
    },
    {
      "parameters": {
        "url": "=https://api.themoviedb.org/3/tv/{{ $json.id }}/watch/providers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTcyYzIzYjU2MmJjY2YzYzNhYzI0OTRmZDJmODU1NCIsIm5iZiI6MTc2MjI2NjQxOS42NTIsInN1YiI6IjY5MGEwZDMzYWNiMmJjMzBmMDcwY2M0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.I5TEpU04udXCe4MP2dJK6fxM6S-nvUmKhYyeOeMK-ZM"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        848
      ],
      "id": "5f7e9082-ce81-40ea-95c1-9ad1d1dbe3aa",
      "name": "Fetch Series Provider",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract the actual input data (array of movie objects)\nconst input = items[0].json;\n\n// Ensure it's always an array\nconst data = Array.isArray(input) ? input : [input];\n\nconst providerSet = new Set();\n\nfor (const movie of data) {\n  const results = movie.results || {};\n  for (const region in results) {\n    const regionData = results[region];\n\n    // Check all possible provider categories\n    const providerTypes = [\"ads\", \"flatrate\", \"rent\", \"buy\"];\n    for (const type of providerTypes) {\n      if (Array.isArray(regionData[type])) {\n        regionData[type].forEach(provider => {\n          if (provider.provider_name) {\n            providerSet.add(provider.provider_name.trim());\n          }\n        });\n      }\n    }\n  }\n}\n\n// Convert to n8n item format\nreturn Array.from(providerSet).map(name => ({\n  json: { provider_name: name }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        832
      ],
      "id": "e62c5829-d817-4d15-8807-64ada20ebf5d",
      "name": "Extract Provider's Only2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1776,
        832
      ],
      "id": "b4bdb80e-386a-47ee-9776-a93303219bca",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Popular Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Providers"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        320
      ],
      "id": "3cb3db52-0d86-4117-be5c-b72d403fc51f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779211863,
          "mode": "list",
          "cachedResultName": "Popular TV Series",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1779211863"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Provider"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        832
      ],
      "id": "053a3102-10b1-4aee-8d80-0c14cef545da",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779211863,
          "mode": "list",
          "cachedResultName": "Popular TV Series",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1779211863"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Provider": "={{ $json.provider_name || \"Unavailable\" }}",
            "id": "={{ $('Loop Over Items1').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2448,
        832
      ],
      "id": "88c34b97-ae0b-4e49-84b8-de7ff1ead21b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Popular Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items').item.json.id }}",
            "Providers": "={{ $json.provider_name || \"Unavailable\" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Providers",
              "displayName": "Providers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        320
      ],
      "id": "fb662847-aea8-4faa-96e3-c50b9df9ccd6",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        576
      ],
      "id": "d5a21c56-9505-4230-8401-fcdaeefd4a40",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "url": "=https://api.themoviedb.org/3/movie/{{ $json.id }}/watch/providers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTcyYzIzYjU2MmJjY2YzYzNhYzI0OTRmZDJmODU1NCIsIm5iZiI6MTc2MjI2NjQxOS42NTIsInN1YiI6IjY5MGEwZDMzYWNiMmJjMzBmMDcwY2M0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.I5TEpU04udXCe4MP2dJK6fxM6S-nvUmKhYyeOeMK-ZM"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        592
      ],
      "id": "45faeaba-7743-46e4-88c3-c2e2779c71be",
      "name": "Fetch Movie Provider2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get input from previous node (usually an HTTP Request)\nconst input = items[0].json;\n\n// Ensure we always have an array to loop through\nconst data = Array.isArray(input) ? input : [input];\n\nconst providerSet = new Set();\n\n// Loop through each movie entry\nfor (const movie of data) {\n  const results = movie.results || {};\n\n  for (const region in results) {\n    const regionData = results[region];\n\n    // Check all possible provider types\n    const providerTypes = [\"ads\", \"flatrate\", \"rent\", \"buy\"];\n    for (const type of providerTypes) {\n      if (Array.isArray(regionData[type])) {\n        regionData[type].forEach(provider => {\n          if (provider.provider_name) {\n            providerSet.add(provider.provider_name.trim());\n          }\n        });\n      }\n    }\n  }\n}\n\n// Join all provider names with commas\nconst providerList = Array.from(providerSet).join(\", \");\n\n// Return as a single n8n item\nreturn [\n  {\n    json: {\n      provider_name: providerList\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        576
      ],
      "id": "f5e09379-8f1b-4a71-a3b9-3503b76febd3",
      "name": "Extract Provider's Only3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660865768,
          "mode": "list",
          "cachedResultName": "Upcoming Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1660865768"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Providers"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        576
      ],
      "id": "fe912f51-d390-4a6e-a4af-f4a771a67408",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660865768,
          "mode": "list",
          "cachedResultName": "Upcoming Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1660865768"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items2').item.json.id }}",
            "Providers": "={{ $json.provider_name || \"Unavailable\" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Providers",
              "displayName": "Providers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        576
      ],
      "id": "98cd5445-88e8-4c28-9da3-ea5d5003d728",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1584,
        320
      ],
      "id": "7422a32a-a0a8-41db-8c22-4c1449eddbb2",
      "name": "Limit4"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1584,
        576
      ],
      "id": "27a3fb27-1c57-4d71-98c7-f665e9003043",
      "name": "Limit5"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1584,
        832
      ],
      "id": "b050eefc-4f68-40a6-9a5e-64b322addb97",
      "name": "Limit6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "272fef26-bfdc-4416-8207-7264cfb3aa15",
              "leftValue": "={{ $json.Providers }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        928
      ],
      "id": "6509bbfe-98c0-40a6-9d03-a1cf14fa351a",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e367ff05-9937-4884-a573-2b07da409c68",
              "name": "provider_name",
              "value": "noData",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        912
      ],
      "id": "ff04fccf-c313-4ed2-a945-5dadb19e7eac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "272fef26-bfdc-4416-8207-7264cfb3aa15",
              "leftValue": "={{ $json.Providers }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        656
      ],
      "id": "ec8ad592-d121-4c5d-a959-4fc3878acbee",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e367ff05-9937-4884-a573-2b07da409c68",
              "name": "provider_name",
              "value": "noData",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        640
      ],
      "id": "51033fce-cd74-4415-bf90-e9d41cf2e366",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "272fef26-bfdc-4416-8207-7264cfb3aa15",
              "leftValue": "={{ $json.Providers }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2608,
        400
      ],
      "id": "c63cb84f-c6c0-4474-8246-17c2b8a039a7",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e367ff05-9937-4884-a573-2b07da409c68",
              "name": "provider_name",
              "value": "noData",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        384
      ],
      "id": "fc574826-9ead-4406-b7e3-018b1bfe2b0f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "# Fetch Movie/Series Providers\n",
        "height": 928,
        "width": 2272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        192
      ],
      "typeVersion": 1,
      "id": "165eb1db-a353-4288-bf61-45d30e6fa2cd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ac29db4-8e1a-46e4-b927-f1824be1c987",
              "name": "Category",
              "value": "Popular",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        960
      ],
      "id": "898831c9-71d5-4285-99a2-b36c8882c031",
      "name": "setCategory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "117676a3-010a-44b5-a6ee-82ac1be5725c",
              "name": "Category",
              "value": "Upcoming",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1296
      ],
      "id": "88bb32a0-0618-4977-90c4-f8385e666ba4",
      "name": "setCategory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35a20e68-ed3c-4203-9b71-5cb16be21740",
              "name": "Category",
              "value": "Popular",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1632
      ],
      "id": "ab04eedc-3778-496d-b448-7412917e6d85",
      "name": "setCategory2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Popular Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Article"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        1376
      ],
      "id": "53529e4a-8dac-4d3e-b475-2f93065356b2",
      "name": "Read Movie Data4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        1376
      ],
      "id": "cb1f1ade-de58-4122-837e-da9cb27984c5",
      "name": "Splot in Batches4"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1456,
        1376
      ],
      "id": "5c946513-54cf-43be-b25d-20d186887f22",
      "name": "Limit7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660865768,
          "mode": "list",
          "cachedResultName": "Upcoming Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1660865768"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Article"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        1712
      ],
      "id": "12c79ba2-6723-49ed-927c-9e380b29a322",
      "name": "Read Movie Data5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1696,
        1712
      ],
      "id": "b9af6733-a266-4f98-b905-514018261ba6",
      "name": "Splot in Batches5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2032,
        1200
      ],
      "id": "2ec696f6-525f-47ab-bfe0-6f665368a0ae",
      "name": "No Operation4"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1472,
        1712
      ],
      "id": "77739842-f0d3-4dce-89dc-ec1eb84c84a8",
      "name": "Limit8"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional entertainment journalist and reviewer. \nWrite a full-length review article (around 3–5 paragraphs, 300–500 words) about the given movie or TV series.\nThe article should sound as if it’s summarizing a range of audience opinions and critical impressions — \nhighlighting both strengths and weaknesses naturally, without spoilers.\n\nThe tone should be authentic, balanced, and conversational — not promotional or robotic. \nMention acting, direction, pacing, visuals, or story tone where relevant. \nIf the title is an upcoming release, focus more on anticipation, cast expectations, and potential audience appeal.\n\nWrite the article based on the following information:\n\nTitle: {{ $('Splot in Batches5').item.json.Title }}\nOverview: {{ $('Splot in Batches5').item.json.Overview }}\nType: {{ $('Splot in Batches5').item.json['Type '] }}  // e.g., Movie or Series\nRelease Date: {{ $('Splot in Batches5').item.json['Release Date'] }}\nRating: {{ $('Splot in Batches5').item.json['Rating '] }}\nCategory: {{ $json.Category }}  // e.g., Popular, Upcoming\nPoster URL: {{ $('Splot in Batches5').item.json['Poster URL'] }}\n",
              "role": "system"
            },
            {
              "content": "=Write a cohesive and natural review article for the given title.\nInclude multiple perspectives — as if drawn from real audience reactions and critic summaries.\nKeep it spoiler-free and engaging."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2128,
        1728
      ],
      "id": "e9c9fe25-ef12-43e5-a882-365637557bbf",
      "name": "Review Generation5",
      "credentials": {
        "openAiApi": {
          "id": "WTuFB8P3DNjwNZR1",
          "name": "OpenAi - Alishba"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779211863,
          "mode": "list",
          "cachedResultName": "Popular TV Series",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1779211863"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Article"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        2048
      ],
      "id": "de742bed-8dd6-4029-a07e-469d5c37867e",
      "name": "Read Movie Data6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        2048
      ],
      "id": "70648e7b-1475-470c-8f7f-701bc64a2736",
      "name": "Splot in Batches6"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1456,
        2048
      ],
      "id": "e718cd08-eba5-4280-b66f-d36bce7518ed",
      "name": "Limit9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional entertainment journalist and reviewer. \nWrite a full-length review article (around 3–5 paragraphs, 300–500 words) about the given movie or TV series.\nThe article should sound as if it’s summarizing a range of audience opinions and critical impressions — \nhighlighting both strengths and weaknesses naturally, without spoilers.\n\nThe tone should be authentic, balanced, and conversational — not promotional or robotic. \nMention acting, direction, pacing, visuals, or story tone where relevant. \nIf the title is an upcoming release, focus more on anticipation, cast expectations, and potential audience appeal.\n\nWrite the article based on the following information:\n\nTitle: {{ $('Splot in Batches6').item.json.Title }}\nOverview: {{ $('Splot in Batches6').item.json.Overview }}\nType: {{ $('Splot in Batches6').item.json['Type '] }}  // e.g., Movie or Series\nRelease Date: {{ $('Splot in Batches6').item.json['Release Date'] }}\nRating: {{ $('Splot in Batches6').item.json['Rating '] }}\nCategory: {{ $json.Category }}  // e.g., Popular, Upcoming\nPoster URL: {{ $('Splot in Batches6').item.json['Poster URL'] }}\n",
              "role": "system"
            },
            {
              "content": "=Write a cohesive and natural review article for the given title.\nInclude multiple perspectives — as if drawn from real audience reactions and critic summaries.\nKeep it spoiler-free and engaging."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2128,
        2064
      ],
      "id": "8890b740-1bdc-4d9f-9996-82d4d2a719b6",
      "name": "Review Generation6",
      "credentials": {
        "openAiApi": {
          "id": "WTuFB8P3DNjwNZR1",
          "name": "OpenAi - Alishba"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ac29db4-8e1a-46e4-b927-f1824be1c987",
              "name": "Category",
              "value": "Popular",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        1392
      ],
      "id": "1ade5a84-fc16-405e-98c4-1c37c687cd1a",
      "name": "setCategory3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "117676a3-010a-44b5-a6ee-82ac1be5725c",
              "name": "Category",
              "value": "Upcoming",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        1728
      ],
      "id": "2c35e91e-a60b-474b-8237-8f5e16337724",
      "name": "setCategory4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35a20e68-ed3c-4203-9b71-5cb16be21740",
              "name": "Category",
              "value": "Popular",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        2064
      ],
      "id": "13bf5fd0-b595-433c-b05e-29773e7fce3f",
      "name": "setCategory5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        976,
        1712
      ],
      "id": "b295caab-e24e-4130-a992-f48be0bc7e46",
      "name": "Phase 2 - Article"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        1280
      ],
      "id": "0a543ef7-ba47-40c3-9d6e-1be107e3e7eb",
      "name": "Phase 2 - Customer Review"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional entertainment journalist and reviewer. \nWrite a full-length review article (around 3–5 paragraphs, 300–500 words) about the given movie or TV series.\nThe article should sound as if it’s summarizing a range of audience opinions and critical impressions — \nhighlighting both strengths and weaknesses naturally, without spoilers.\n\nThe tone should be authentic, balanced, and conversational — not promotional or robotic. \nMention acting, direction, pacing, visuals, or story tone where relevant. \nIf the title is an upcoming release, focus more on anticipation, cast expectations, and potential audience appeal.\n\nWrite the article based on the following information:\n\nTitle: {{ $('Splot in Batches4').item.json.Title }}\nOverview: {{ $('Splot in Batches4').item.json.Overview }}\nType: {{ $('Splot in Batches4').item.json['Type '] }}  // e.g., Movie or Series\nRelease Date: {{ $('Splot in Batches4').item.json['Release Date'] }}\nRating: {{ $('Splot in Batches4').item.json['Rating '] }}\nCategory: {{ $json.Category }}  // e.g., Popular, Upcoming\nPoster URL: {{ $('Splot in Batches4').item.json['Poster URL'] }}\n",
              "role": "system"
            },
            {
              "content": "=Write a cohesive and natural review article for the given title.\nInclude multiple perspectives — as if drawn from real audience reactions and critic summaries.\nKeep it spoiler-free and engaging."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2112,
        1392
      ],
      "id": "54b8cf2f-5fab-43b8-a091-c3e7961d06b0",
      "name": "Article Generation",
      "credentials": {
        "openAiApi": {
          "id": "WTuFB8P3DNjwNZR1",
          "name": "OpenAi - Alishba"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b2f5e80-ae45-4599-829b-57803a25c72c",
              "name": "id",
              "value": "={{ $('Read Movie Data4').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f8b61cfe-a445-47fd-9f69-a393a208944d",
              "name": "article",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        1392
      ],
      "id": "e4944a72-7fd1-47fa-8805-a7fedd23f077",
      "name": "setOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b2f5e80-ae45-4599-829b-57803a25c72c",
              "name": "id",
              "value": "={{ $('Read Movie Data5').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f8b61cfe-a445-47fd-9f69-a393a208944d",
              "name": "article",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        1728
      ],
      "id": "f26f1fe8-abeb-41f7-9b4a-b997568ff33c",
      "name": "setOutput1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b2f5e80-ae45-4599-829b-57803a25c72c",
              "name": "id",
              "value": "={{ $('Read Movie Data6').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f8b61cfe-a445-47fd-9f69-a393a208944d",
              "name": "article",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        2064
      ],
      "id": "7a658bee-6abc-4480-8140-f51e5f680249",
      "name": "setOutput2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Popular Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reviwed?": "",
            "id": "={{ $json.id }}",
            "Article": "={{ $json.article }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Providers",
              "displayName": "Providers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        1392
      ],
      "id": "2377759b-36c6-4d14-8aae-97bea518a31a",
      "name": "Update Movie Article",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660865768,
          "mode": "list",
          "cachedResultName": "Upcoming Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1660865768"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id}}",
            "Article": "={{ $json.article }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Providers",
              "displayName": "Providers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        1728
      ],
      "id": "d21e5f09-2cce-4a7d-92a0-7e77b2c452a8",
      "name": "Update Movie Article1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU",
          "mode": "list",
          "cachedResultName": "Movie Analyzer AI(Database 2.0)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779211863,
          "mode": "list",
          "cachedResultName": "Popular TV Series",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DztDZVFUlt4TitoUZRbCp8lwUdoMzkOEbOrkJhdCamU/edit#gid=1779211863"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id}}",
            "Article": "={{ $json.article }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overview",
              "displayName": "Overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release Date",
              "displayName": "Release Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Popularity",
              "displayName": "Popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Poster URL",
              "displayName": "Poster URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviwed?",
              "displayName": "Reviwed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Review",
              "displayName": "Customer Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        2064
      ],
      "id": "828f50d0-c65f-4b2d-9b73-b0d7ca0b8bbb",
      "name": "Update Movie Article2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h5INhoXgvfSqfxVB",
          "name": "Google Sheets - Syed Belal"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        976,
        576
      ],
      "id": "2a266a96-65bb-4897-84d7-4117aaf88d92",
      "name": "Phase 1 - Watch Providers"
    },
    {
      "parameters": {
        "content": "# Phase 2: Article Generator",
        "height": 1136,
        "width": 2096,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        1168
      ],
      "typeVersion": 1,
      "id": "a3b0704f-bb86-4ff3-ae53-b21bcabdf64d",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {
    "Phase 1 - Initiator 3.0": [
      {
        "json": {
          "timestamp": "2025-11-04T17:55:41.308+01:00",
          "Readable date": "November 4th 2025, 5:55:41 pm",
          "Readable time": "5:55:41 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "04",
          "Hour": "17",
          "Minute": "55",
          "Second": "41",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        }
      }
    ],
    "Phase 1 - Initiator 4.0": [
      {
        "json": {
          "timestamp": "2025-11-04T17:55:41.308+01:00",
          "Readable date": "November 4th 2025, 5:55:41 pm",
          "Readable time": "5:55:41 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "04",
          "Hour": "17",
          "Minute": "55",
          "Second": "41",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        }
      }
    ],
    "Phase 1 - Initiator 2.0": [
      {
        "json": {
          "timestamp": "2025-11-04T17:55:41.308+01:00",
          "Readable date": "November 4th 2025, 5:55:41 pm",
          "Readable time": "5:55:41 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "04",
          "Hour": "17",
          "Minute": "55",
          "Second": "41",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        }
      }
    ],
    "Phase 1 - Initiator 5.0": [
      {
        "json": {
          "timestamp": "2025-11-04T17:55:41.308+01:00",
          "Readable date": "November 4th 2025, 5:55:41 pm",
          "Readable time": "5:55:41 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "04",
          "Hour": "17",
          "Minute": "55",
          "Second": "41",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        }
      }
    ],
    "Phase 1 - Initiator 1.0": [
      {
        "json": {
          "timestamp": "2025-11-04T17:55:41.308+01:00",
          "Readable date": "November 4th 2025, 5:55:41 pm",
          "Readable time": "5:55:41 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "04",
          "Hour": "17",
          "Minute": "55",
          "Second": "41",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        }
      }
    ],
    "Phase 2 - Customer Review": [
      {
        "json": {
          "timestamp": "2025-11-06T21:14:33.064+01:00",
          "Readable date": "November 6th 2025, 9:14:33 pm",
          "Readable time": "9:14:33 pm",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "06",
          "Hour": "21",
          "Minute": "14",
          "Second": "33",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        }
      }
    ],
    "Phase 1 - Watch Providers": [
      {
        "json": {
          "timestamp": "2025-11-04T17:55:41.308+01:00",
          "Readable date": "November 4th 2025, 5:55:41 pm",
          "Readable time": "5:55:41 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "04",
          "Hour": "17",
          "Minute": "55",
          "Second": "41",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        }
      }
    ],
    "Phase 2 - Article": [
      {
        "json": {
          "timestamp": "2025-11-06T21:14:33.064+01:00",
          "Readable date": "November 6th 2025, 9:14:33 pm",
          "Readable time": "9:14:33 pm",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "06",
          "Hour": "21",
          "Minute": "14",
          "Second": "33",
          "Timezone": "Europe/Amsterdam (UTC+01:00)"
        }
      }
    ]
  },
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Clean and Format Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Format Data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2 - Initiator": {
      "main": [
        [
          {
            "node": "Read Movie Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Movie Data": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splot in Batches": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Review Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Review Output": {
      "main": [
        [
          {
            "node": "Update Movie Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Review": {
      "main": [
        [
          {
            "node": "Splot in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Splot in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Popular TV Series": {
      "main": [
        [
          {
            "node": "Loop for Popular TV Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Upcoming Movies": {
      "main": [
        [
          {
            "node": "Loop for Upcoming Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Popular Movies": {
      "main": [
        [
          {
            "node": "Loop for Popular Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Generation": {
      "main": [
        [
          {
            "node": "Format Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Database": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "if database has data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if database has data": {
      "main": [
        [
          {
            "node": "If Duplicates?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicates?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop for Popular Movies": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clean and Format Movie Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Movies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Popular Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForUpcomingMovies": {
      "main": [
        [
          {
            "node": "Loop for Upcoming Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop for Upcoming Movies": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Clean and Format Movie Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Movies1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Upcoming Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop for Popular TV Shows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          },
          {
            "node": "Clean and Format TV Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing TV Series",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Popular TV Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularTVShow (1-100)": {
      "main": [
        [
          {
            "node": "Loop for Popular TV Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularMovies (1-100)": {
      "main": [
        [
          {
            "node": "Loop for Popular Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 - Initiator 1.0": {
      "main": [
        [
          {
            "node": "pagesForPopularMovies (1-100)",
            "type": "main",
            "index": 0
          },
          {
            "node": "pagesForPopularTVShow (1-100)",
            "type": "main",
            "index": 0
          },
          {
            "node": "pagesForUpcomingMovies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 - Initiator 2.0": {
      "main": [
        [
          {
            "node": "pagesForPopularMovies (101-200)",
            "type": "main",
            "index": 0
          },
          {
            "node": "pagesForPopularTVShow (101-200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularTVShow (101-200)": {
      "main": [
        [
          {
            "node": "Loop for Popular TV Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularMovies (101-200)": {
      "main": [
        [
          {
            "node": "Loop for Popular Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 - Initiator 3.0": {
      "main": [
        [
          {
            "node": "pagesForPopularMovies (201-300)",
            "type": "main",
            "index": 0
          },
          {
            "node": "pagesForPopularTVShow (201-300)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularTVShow (201-300)": {
      "main": [
        [
          {
            "node": "Loop for Popular TV Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularMovies (201-300)": {
      "main": [
        [
          {
            "node": "Loop for Popular Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularMovies (301-400)": {
      "main": [
        [
          {
            "node": "Loop for Popular Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularTVShow (301-400)": {
      "main": [
        [
          {
            "node": "Loop for Popular TV Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 - Initiator 4.0": {
      "main": [
        [
          {
            "node": "pagesForPopularMovies (301-400)",
            "type": "main",
            "index": 0
          },
          {
            "node": "pagesForPopularTVShow (301-400)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 - Initiator 5.0": {
      "main": [
        [
          {
            "node": "pagesForPopularMovies (401-500)",
            "type": "main",
            "index": 0
          },
          {
            "node": "pagesForPopularTVShow (401-500)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularTVShow (401-500)": {
      "main": [
        [
          {
            "node": "Loop for Popular TV Shows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagesForPopularMovies (401-500)": {
      "main": [
        [
          {
            "node": "Loop for Popular Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing TV Series": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Clean and Format TV Data": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Format Movie Data1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Movies1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Existing Movies": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Clean and Format Movie Data": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates1": {
      "main": [
        [
          {
            "node": "IF (Type)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicates?1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Database5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Check for Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates2": {
      "main": [
        [
          {
            "node": "IF (Type)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicates?2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Database4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Check for Duplicates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates3": {
      "main": [
        [
          {
            "node": "IF (Type)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicates?3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Database3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Check for Duplicates3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Type)": {
      "main": [
        [
          {
            "node": "If Duplicates?3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Type)1": {
      "main": [
        [
          {
            "node": "If Duplicates?2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Type)2": {
      "main": [
        [
          {
            "node": "If Duplicates?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Movie Data1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splot in Batches1": {
      "main": [
        [
          {
            "node": "No Operation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setCategory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Review Output1": {
      "main": [
        [
          {
            "node": "Update Movie Review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Review1": {
      "main": [
        [
          {
            "node": "Splot in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Splot in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Generation1": {
      "main": [
        [
          {
            "node": "Format Review Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Movie Data2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splot in Batches2": {
      "main": [
        [
          {
            "node": "No Operation2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setCategory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Review Output2": {
      "main": [
        [
          {
            "node": "Update Movie Review2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Review2": {
      "main": [
        [
          {
            "node": "Splot in Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Splot in Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Generation2": {
      "main": [
        [
          {
            "node": "Format Review Output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Movie Data3": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splot in Batches3": {
      "main": [
        [
          {
            "node": "No Operation3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setCategory2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Review Output3": {
      "main": [
        [
          {
            "node": "Update Movie Review3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Review3": {
      "main": [
        [
          {
            "node": "Splot in Batches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Splot in Batches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Generation3": {
      "main": [
        [
          {
            "node": "Format Review Output3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fetch Movie Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Movie Provider": {
      "main": [
        [
          {
            "node": "Extract Provider's Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Provider's Only": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database3": {
      "main": [
        []
      ]
    },
    "Save to Database5": {
      "main": [
        []
      ]
    },
    "Fetch Series Provider": {
      "main": [
        [
          {
            "node": "Extract Provider's Only2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Fetch Series Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Limit6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Provider's Only2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Fetch Movie Provider2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Movie Provider2": {
      "main": [
        [
          {
            "node": "Extract Provider's Only3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Provider's Only3": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit6": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setCategory": {
      "main": [
        [
          {
            "node": "Review Generation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setCategory1": {
      "main": [
        [
          {
            "node": "Review Generation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setCategory2": {
      "main": [
        [
          {
            "node": "Review Generation3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Movie Data4": {
      "main": [
        [
          {
            "node": "Limit7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splot in Batches4": {
      "main": [
        [
          {
            "node": "No Operation4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setCategory3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit7": {
      "main": [
        [
          {
            "node": "Splot in Batches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Movie Data5": {
      "main": [
        [
          {
            "node": "Limit8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splot in Batches5": {
      "main": [
        [
          {
            "node": "No Operation4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setCategory4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit8": {
      "main": [
        [
          {
            "node": "Splot in Batches5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Movie Data6": {
      "main": [
        [
          {
            "node": "Limit9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splot in Batches6": {
      "main": [
        [
          {
            "node": "No Operation4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setCategory5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit9": {
      "main": [
        [
          {
            "node": "Splot in Batches6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setCategory3": {
      "main": [
        [
          {
            "node": "Article Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setCategory4": {
      "main": [
        [
          {
            "node": "Review Generation5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setCategory5": {
      "main": [
        [
          {
            "node": "Review Generation6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2 - Article": {
      "main": [
        [
          {
            "node": "Read Movie Data4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Movie Data5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Movie Data6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2 - Customer Review": {
      "main": [
        [
          {
            "node": "Read Movie Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Movie Data2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Movie Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Generation": {
      "main": [
        [
          {
            "node": "setOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Generation5": {
      "main": [
        [
          {
            "node": "setOutput1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Generation6": {
      "main": [
        [
          {
            "node": "setOutput2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setOutput": {
      "main": [
        [
          {
            "node": "Update Movie Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setOutput1": {
      "main": [
        [
          {
            "node": "Update Movie Article1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setOutput2": {
      "main": [
        [
          {
            "node": "Update Movie Article2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Article2": {
      "main": [
        [
          {
            "node": "Splot in Batches6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Article1": {
      "main": [
        [
          {
            "node": "Splot in Batches5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Movie Article": {
      "main": [
        [
          {
            "node": "Splot in Batches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 - Watch Providers": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11fe8c2f-77b7-41aa-98d8-2974b1446a12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55cbb15b2809b0fe60eec1f3c1c42cebcb3176b9f7015722d8842d983c16c651"
  },
  "id": "QtasNW9YPjF2NJnC",
  "tags": [
    {
      "createdAt": "2025-11-06T21:53:28.951Z",
      "updatedAt": "2025-11-06T21:53:28.951Z",
      "id": "BqABTT8rhnq6Itth",
      "name": "Review"
    }
  ]
}